<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinze.dao.LinkoutMapper">
  <cache eviction="LRU" flushInterval="7200000" readOnly="true" size="1100"/>
  <resultMap id="BaseResultMap" type="com.jinze.entity.Linkout">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="stateid" jdbcType="INTEGER" property="stateid" />
    <result column="dt" jdbcType="TIMESTAMP" property="dt" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="flow" jdbcType="DECIMAL" property="flow" />
  </resultMap>

  <select id="selectTimeSeries" parameterType="Map" resultType="Map" >
    select  dt , flow from linkout
    <where>
      <if test="startTime!='' and startTime != null and endTime != '' and endTime != null">
        and dt between #{startTime} and #{endTime}
      </if>
      <if test="linkId!=null and linkId != ''">
        and link = #{linkId}
      </if>
      <if test="stateid!= null">
        and stateid = #{stateid}
      </if>
    </where>
  </select>


  <select id="selectAnimationSeries" parameterType="Map" resultType="Map" useCache="true">
    select  link , flow from linkout
    <where>
      <if test="Time!='' and Time != null">
        and dt = #{Time}
      </if>
      <if test="stateid!= null">
        and stateid = #{stateid}
      </if>
    </where>
  </select>

  <select id="selectMaxAndMinTime" resultType="Map" parameterType="Map">
    select min(dt) as MinDt , max(dt) as MaxDt from linkout where stateid=#{stateid}
  </select>
</mapper>