<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinze.dao.NodeoutMapper">
  <cache eviction="LRU" flushInterval="7200000" readOnly="true" size="1100"/>
  <resultMap id="BaseResultMap" type="com.jinze.entity.Nodeout">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="stateid" jdbcType="INTEGER" property="stateid" />
    <result column="dt" jdbcType="TIMESTAMP" property="dt" />
    <result column="node" jdbcType="VARCHAR" property="node" />
    <result column="head" jdbcType="DECIMAL" property="head" />
  </resultMap>

  <select id="selectTimeSeries" parameterType="Map" resultType="Map" >
    select  dt , head from nodeout
    <where>
      <if test="startTime!='' and startTime != null and endTime != '' and endTime != null">
        and dt between #{startTime} and #{endTime}
      </if>
      <if test="nodeId!=null and nodeId != ''">
        and node = #{nodeId}
      </if>
      <if test="stateid!= null">
        and stateid = #{stateid}
      </if>
    </where>
  </select>


  <select id="selectAnimationSeries" parameterType="Map" resultType="Map" useCache="true">
    select  node , head from nodeout
    <where>
      <if test="Time!='' and Time != null">
        and dt = #{Time}
      </if>
      <if test="stateid!= null">
        and stateid = #{stateid}
      </if>
    </where>
  </select>

  <select id="selectMaxAndMinTime" resultType="Map" parameterType="Map">
    select min(dt) as MinDt , max(dt) as MaxDt from nodeout where stateid=#{stateid}
  </select>
</mapper>