<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinze.dao.RainDao">
	<resultMap type="com.jinze.entity.Rain" id="RainMapper">
		<id property="ID" column="id"/>
		<result property="siteId" column="siteId"/>
		<result property="siteName" column="siteName"/>
		<result property="Dt" column="Dt"/>
		<result property="RainFall" column="RainFall"/>
	</resultMap>
	
	<!-- 根据站点名称查询所有符合条件的数据 -->
	<select id="selectRainBySiteName" resultMap="RainMapper" parameterType="string">
		select * from tb_rain where siteName = #{siteName}
	</select>
	<!--查询表记录总数-->
	<select id="selectCount" parameterType="map" resultType="long">
		select count(*) from tb_rain
	</select>
	<!--根据条件查询日和、月和、年和 -->
	<select id="selectPlusByDate" resultMap="RainMapper" parameterType="map">
		select * from tb_rain
		<where>
			<if test="siteId != null">
				and siteId=#{siteId,jdbcType=VARCHAR}
			</if>
			<if test="searchDate == 'Year' and searchDate != null and list.size()>0 ">
				and date_format(Dt,'%Y') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="searchDate == 'Mon' and searchDate != null  and list.size()>0 ">
				and date_format(Dt,'%Y-%m') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="searchDate == 'Day' and searchDate != null  and list.size()>0 ">
				and date_format(Dt,'%Y-%m-%d') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>


	<!--新增表记录-->
	<insert id="insert" parameterType="com.jinze.entity.Rain">
		insert into tb_rain
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="siteName != null">
				siteName,
			</if>
			<if test="Dt != null">
				Dt,
			</if>
			<if test="RainFall != null">
				RainFall,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="siteName != null">
				#{siteName},
			</if>
			<if test="Dt != null">
				#{Dt},
			</if>
			<if test="RainFall != null">
				#{RainFall},
			</if>
		</trim>
	</insert>
	<!--删除表记录-->
	<delete id="deleteById" parameterType="string">
		delete from tb_rain where ID = #{id}
	</delete>
	<!--批量删除 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from tb_rain where ID in
		<foreach  item="item" collection="java.util.List" index="index"  open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!--更新表记录-->
	<update id="update" parameterType="com.jinze.entity.Rain">
		update tb_rain
		<set>
			<if test="record.id != null">
				ID = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.sitename != null">
				siteName = #{record.sitename,jdbcType=VARCHAR},
			</if>
			<if test="record.dt != null">
				Dt = #{record.dt},
			</if>
			<if test="record.RainFall != null">
				RainFall = #{record.RainFall},
			</if>
		</set>
	</update>
</mapper>