<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinze.dao.WeatherDao">
	<resultMap type="com.jinze.entity.Weather" id="WeatherMapper">
		<id property="ID" column="id"/>
		<result property="siteId" column="siteId"/>
		<result property="siteName" column="siteName"/>
		<result property="Dt" column="Dt"/>
		<result property="RRR" column="RRR"/>
		<result property="T" column="T"/>
		<result property="DD" column="DD"/>
		<result property="FF" column="FF"/>
		<result property="PO" column="PO"/>
	</resultMap>
	
	<!-- 根据站点名称查询所有符合条件的数据 -->
	<select id="selectWeatherBySiteName" resultMap="WeatherMapper" parameterType="string">
		select * from tb_weather where siteName = #{siteName}
	</select>
	<!--查询表记录总数-->
	<select id="selectCount" parameterType="map" resultType="long">
		select count(*) from tb_weather
	</select>
	<!--根据条件查找日均、月均或年均数据-->
	<select id="selectAverageByMap" parameterType="map" resultMap="WeatherMapper">
		select *from tb_weather
		<where>
			<if test="siteId != null">
				and siteId=#{siteId,jdbcType=VARCHAR}
			</if>
			<if test="searchDate == 'Year' and searchDate != null and DT !=null and DT !=''">
				and date_format(Dt,'%Y') = #{DT}
			</if>
			<if test="searchDate == 'Month' and searchDate != null  and DT !=null and DT !=''">
				and date_format(Dt,'%Y-%m') = #{DT}
			</if>
			<if test="searchDate == 'Day' and searchDate != null  and DT !=null and DT !=''">
				and date_format(Dt,'%Y-%m-%d') = #{DT}
			</if>
		</where>
	</select>

	<!--根据条件查找日均、月均或年均数据-->
	<select id="selectAverageByDate" parameterType="map" resultMap="WeatherMapper">
		select *from tb_weather
		<where>
			<if test="siteId != null">
				and siteId=#{siteId,jdbcType=VARCHAR}
			</if>
			<if test="searchDate == 'Year' and searchDate != null and list.size()>0 ">
				and date_format(Dt,'%Y') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="searchDate == 'Mon' and searchDate != null  and list.size()>0 ">
				and date_format(Dt,'%Y-%m') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
			<if test="searchDate == 'Day' and searchDate != null  and list.size()>0 ">
				and date_format(Dt,'%Y-%m-%d') in
				<foreach  item="item" collection="list" index="index"  open="(" separator="," close=")">
					#{item}
				</foreach>
			</if>
		</where>
	</select>

	<!--新增表记录-->
	<insert id="insert" parameterType="com.jinze.entity.Weather">
		insert into tb_weather
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="siteId != null">
				siteId,
			</if>
			<if test="siteName != null">
				siteName,
			</if>
			<if test="Dt != null">
				Dt,
			</if>
			<if test="RRR != null">
				RRR,
			</if>
			<if test="T != null">
				T,
			</if>
			<if test="DD != null">
				DD,
			</if>
			<if test="FF != null">
				FF,
			</if>
			<if test="PO != null">
				PO,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id},
			</if>
			<if test="siteId != null">
				#{siteId},
			</if>
			<if test="siteName != null">
				#{siteName},
			</if>
			<if test="Dt != null">
				#{Dt},
			</if>
			<if test="RRR != null">
				#{RRR},
			</if>
			<if test="T != null">
				#{T},
			</if>
			<if test="DD != null">
				#{DD},
			</if>
			<if test="FF != null">
				#{FF},
			</if>
			<if test="PO != null">
				#{PO},
			</if>
		</trim>
	</insert>
	<!--删除表记录-->
	<delete id="deleteById" parameterType="string">
		delete from tb_weather where ID = #{id}
	</delete>
	<!--批量删除 -->
	<delete id="deleteByList" parameterType="java.util.List">
		delete from tb_weather where ID in
		<foreach  item="item" collection="java.util.List" index="index"  open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	<!--更新表记录-->
	<update id="update" parameterType="com.jinze.entity.Weather">
		update tb_weather
		<set>
			<if test="id != null">
				ID = #{id,jdbcType=VARCHAR},
			</if>
			<if test="siteId != null">
				siteId = #{siteId,jdbcType=VARCHAR},
			</if>
			<if test="siteName != null">
				siteName = #{siteName,jdbcType=VARCHAR},
			</if>
			<if test="Dt != null">
				Dt = #{Dt},
			</if>
			<if test="RRR != null">
				RRR = #{RRR},
			</if>
			<if test="T != null">
				T = #{T},
			</if>
			<if test="DD != null">
				DD = #{DD},
			</if>
			<if test="FF != null">
				FF = #{FF},
			</if>
			<if test="PO != null">
				PO = #{PO},
			</if>
		</set>
	</update>
</mapper>